ANTHROPIC_API_KEY="🔒-SECRET-SAUCE-🔒"
DEEPGRAM_API_KEY="🔒-SECRET-SAUCE-🔒"
MONGO_URL="mongodb+srv://🔒-SECRET-SAUCE-🔒"
MONGO_DB_NAME="cut-copy-dev"
MISTRAL_API_KEY="🔒-SECRET-SAUCE-🔒"
OCTOAI_API_TOKEN="🔒-SECRET-SAUCE-🔒"
OPENAI_API_KEY="🔒-SECRET-SAUCE-🔒"
ELEVENLABS_API_KEY="🔒-SECRET-SAUCE-🔒"
WORDWARE_API_KEY="🔒-SECRET-SAUCE-🔒"
